@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  outline: none;
  border: nona;
  box-sizing: border-box;
}
img {
  width: 100%;
  display: flex;
}
a {
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #fd0442;
}
nav {
  max-width: 1200px;
  margin: auto;
  padding: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
/* barra de navegacao*/
.nav-logo {
  max-width: 150px;
}
.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.link a {
  position: relative;
  padding-bottom: 0.75rem;
  color: rgb(255, 255, 255);
}
.link a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: red;
  transition: all 0.3s ease;
}
.link a:hover::after {
  width: 70%;
}
.btn {
  padding: 1rem 2rem;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  background-color: red;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: rgb(235, 42, 42);
}
/* corpo*/
.conteiner {
  max-width: 1200px;
  margin: auto;
  padding: 5rem 2rem;
}
.blur {
  position: absolute;
  box-shadow: 0 0 1000px 50px #ff9900;
}
header {
  position: relative;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}
header .conteudo {
  margin-bottom: 1rem;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
}
header .conteudo h1 {
  color: #ffffff;
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: 4rem;
}
h1 span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #ffffff;
}
p {
  margin-bottom: 2rem;
  color: #ffffff;
}
header .img {
  position: relative;
}
header .img::before {
  content: "o";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 38rem;
  font-weight: 400;
  line-height: 25rem;
  color: red;
  opacity: 0.2;
  z-index: -100;
}
header .img img {
  max-width: 600px;
  margin: auto;
}
/* section*/
section .header {
  margin-bottom: 1rem;
  color: #ffffff;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 600;
}
.coisas {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.coisas .cartao {
  background-color: rgb(204, 21, 21);
  padding: 1rem;
  border: 2px solid transparent;
  border-radius: 15px;
  transition: all 0.3s ease;
}
.coisas .cartao:hover {
  background-color: #8b0b2b;
  border-color: #fff;
}

.coisas .cartao span {
  display: inline-block;
  background-color: #992b46;
  padding: 2px 9px;
  margin-bottom: 1rem;
  font-size: 1.75rem;
  color: #fff;
  border-radius: 5px;
}
h4 {
  color: #fff;
}
